@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900");
.logo .light {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
}

.logo .sec {
  color: #2eb2ff;
  font-size: 2rem;
  font-weight: 500;
  margin-left: 1rem;
  position: relative;
}

.logo .sec:after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 4rem;
  height: 2px;
  background: #2eb2ff;
}

.image {
  width: 250px;
  height: 250px;
  border: 1px solid #fff;
  background-color: #fff;
  margin: 2rem auto;
  border-radius: 50%;
}

.about {
  color: #fff;
}

.about h2 {
  font-weight: 400;
  font-size: 1.3rem;
}

.about p {
  line-height: 1.5rem;
  padding: 1rem 0;
  font-weight: 200;
  font-size: 1rem;
}

.patient-form {
  position: relative;
}

.patient-form .close {
  position: absolute;
  top: -1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: #2eb2ff;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.patient-form .close:hover {
  color: #007ec7;
}

.patient-form form {
  padding: 0 2rem;
}

.add-patient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: #fff;
  border-radius: 10px;
  padding: 2rem 0;
  z-index: 20;
}

.hero {
  padding: 3rem;
  width: 500px;
  background: #ff3333;
}

.hero .logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid transparent;
  padding-bottom: 0.4rem;
  -webkit-transition: border-bottom 0.5s ease;
  transition: border-bottom 0.5s ease;
}

.hero .logout h3 {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.header h1 {
  font-size: 1.5rem;
  color: #ff3333;
}

.search {
  border: 1px solid #ff3333;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  color: #ff3333;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

.search input {
  margin: 0rem 2rem;
  border: none;
  outline: none;
  width: 250px;
  font-size: 1.1rem;
  color: #ff3333;
  background-color: transparent;
}

.search input::-webkit-input-placeholder {
  color: #ffbdbd;
}

.search input:-ms-input-placeholder {
  color: #ffbdbd;
}

.search input::-ms-input-placeholder {
  color: #ffbdbd;
}

.search input::placeholder {
  color: #ffbdbd;
}

.patient {
  border-bottom: 1px solid #ffbdbd;
  padding: 2rem;
  text-align: center;
}

.patient h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ff3333;
}

.patient p {
  color: #ff3333;
  font-weight: 300;
  padding: 1rem 0;
}

.patient p span {
  font-weight: 500;
}

.patient button {
  background-color: #ff3333;
  color: #fff;
  padding: 0.8rem 1rem;
  border-radius: 20px;
  border: none;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  cursor: pointer;
}

.patient button:hover {
  background: #bd0808;
}

.patients {
  width: 40%;
  padding: 3rem 3rem;
  overflow: scroll;
}

.patients .patients-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  margin-top: 3rem;
  grid-gap: 1rem;
}

.patients .no-patients {
  color: #005f95;
  font-weight: 400;
}

.p-header {
  background: #ff3333;
  padding: 3rem;
  color: #fff;
}

.p-header h2 {
  padding: 0.5rem 0;
}

.p-header h4 {
  font-size: 2.5rem;
  font-weight: 300;
  padding-bottom: 0.5rem;
}

.p-header h5 {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 0;
}

.p-header h5 span {
  font-weight: 600;
}

.p-header .patient-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-header .patient-btns .confirm-del {
  background-color: #005281;
  color: #fff;
}

.p-header button {
  background-color: #fff;
  color: #ff3333;
  padding: 0.8rem 1rem;
  border-radius: 20px;
  border: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  margin: 1rem 0rem;
  margin-right: 1rem;
}

.p-header button:hover {
  color: #bd0808;
}

.p-history {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (45%)[2];
      grid-template-columns: repeat(2, 45%);
  grid-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-history .no-patients {
  font-weight: 400;
  color: #ff3333;
}

.p-history .p-box {
  border: 1px solid #ff3333;
  border-radius: 20px;
  padding: 1rem;
  text-align: center;
}

.p-history .p-box h5 {
  color: #ff3333;
  font-weight: 400;
}

.p-history .p-box h5 span {
  font-weight: 600;
}

.p-history .p-box .p-box-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 1rem;
}

.p-history .p-box .p-box-btns button {
  border: none;
  background: none;
  color: #ff3333;
  cursor: pointer;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.p-history .p-box .p-box-btns button:hover {
  color: #bd0808;
}

.examinations {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  border-radius: 20px;
  z-index: 20;
  background: #fff;
  padding: 3rem;
  overflow: scroll;
}

.examinations h2 {
  font-weight: 200;
  font-size: 3rem;
  color: #ff3333;
}

.examinations h2 span {
  font-weight: 400;
}

.examinations h4 {
  font-weight: 300;
  font-size: 1.2rem;
  color: #ff3333;
  padding: 1rem 0;
}

.examinations .exam-icons {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.examinations .exam-container-to-print {
  position: relative;
  height: 100%;
}

.examinations .exam {
  padding: 2rem 0;
  border-bottom: 1px solid #cecece;
}

.examinations .exam h5 {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.5rem 0;
}

.examinations .signature {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

.examinations .add-exam-form .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.examinations .add-exam-form .date label {
  font-size: 1.4rem;
  padding: 1rem 0;
}

.examinations .add-exam-form .date input {
  width: 200px;
  border: none;
  border-bottom: 1px solid #cecece;
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
}

.examinations .add-exam-form .new-exam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
}

.examinations .add-exam-form .new-exam label {
  font-size: 1.4rem;
  padding: 1rem 0;
}

.examinations .add-exam-form .new-exam textarea {
  font-size: 1.3rem;
  resize: none;
  border: none;
  height: 300px;
  outline: none;
  line-height: 1.8rem;
  font-weight: 300;
}

.examinations button {
  padding: 0.8rem 1rem;
  border-radius: 20px;
  border: none;
  background: #ff3333;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}

.view-exam {
  height: 100%;
  text-align: left;
}

.view-exam h2 {
  font-weight: 200;
  font-size: 3rem;
  color: #ff3333;
  border-bottom: 1px solid #cecece;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 1rem;
}

.view-exam h2 span {
  font-weight: 400;
}

.view-exam p {
  padding: 2rem 0;
  font-size: 1.1rem;
}

.patient-section {
  width: 40%;
  overflow: scroll;
}

.button {
  border: 1px solid #fff;
  margin: 2rem 0;
  padding: 1rem 1rem;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button .plus {
  font-size: 2rem;
  color: #ff3333;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.button button {
  border: none;
  background: none;
  color: #ff3333;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 2rem;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.dark {
  background: #ff3333;
  margin-left: 3rem;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.dark .plus {
  font-size: 2rem;
  color: #fff;
}

.dark button {
  border: none;
  background: none;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 2rem;
}

.dark:hover {
  background-color: #bd0808;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.input label {
  font-size: 1.3rem;
  color: #2eb2ff;
  font-weight: 500;
  padding-bottom: 0.5rem;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.input .label-wrong {
  color: #ff5757;
}

.input input {
  border-radius: 20px;
  outline: none;
  padding: 1rem;
  border: none;
  border: 1px solid #63c6ff;
  font-size: 1.1rem;
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
  color: #007ec7;
}

.input .input-wrong {
  border: 1px solid #ff5757;
}

.input input:focus {
  border: 1px solid #007ec7;
}

.input input::-webkit-input-placeholder {
  color: #cecece;
}

.input input:-ms-input-placeholder {
  color: #cecece;
}

.input input::-ms-input-placeholder {
  color: #cecece;
}

.input input::placeholder {
  color: #cecece;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.app-container {
  height: 100vh;
  min-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eeeeee;
}

.login {
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.login .login-form {
  width: 500px;
  margin-top: 2rem;
}

.login button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 2rem auto;
  border: none;
  background: #ff3333;
  padding: 0.8rem 5rem;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.login button:hover {
  background: #ff3333;
}

.login span {
  color: #ff5757;
  margin-left: 1rem;
  font-size: 0.8rem;
}
/*# sourceMappingURL=globals.css.map */