@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

@import './../components/Hero/hero';
@import './../components/Patients/patients';
@import './../components/PatientSection/patientSection';
@import './../components/UI/Button/button';
@import './../components/Backdrop/backdrop';
@import './../components/UI/Input/input';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.app-container {
  height: 100vh;
  min-width: 1200px;

  margin: 0 auto;
  display: flex;
  background-color: #eeeeee;
}

.login {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;

  .login-form {
    width: 500px;
    margin-top: 2rem;
  }

  button {
    width: fit-content;
    display: block;
    margin: 2rem auto;
    border: none;
    background: rgb(255, 51, 51);
    padding: 0.8rem 5rem;
    color: #fff;

    border-radius: 20px;
    cursor: pointer;
    transition: background 0.5s ease;
  }

  button:hover {
    background: rgb(255, 51, 51);
  }

  span {
    color: rgb(255, 87, 87);
    margin-left: 1rem;
    font-size: 0.8rem;
  }
}

// rgb(46, 178, 255);
