.image {
  width: 250px;
  height: 250px;
  border: 1px solid #fff;
  background: url('./../../public/logo.JPG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2rem auto;
  border-radius: 50%;
}
