.search {
  border: 1px solid rgb(255, 51, 51);
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;

  color: rgb(255, 51, 51);
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;

  input {
    margin: 0rem 2rem;
    border: none;
    outline: none;
    width: 250px;
    font-size: 1.1rem;
    color: rgb(255, 51, 51);
    background-color: transparent;
  }

  input::placeholder {
    color: rgb(255, 189, 189);
  }
}
